/* Estilos básicos */
/* Imagem padrão */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/static/images/foto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Imagem para telas menores */
@media (max-width: 768px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/static/images/foto-mobile.jpg");
    }
}

/* Navegação */
.nav {
    width: 100%;
    height: 110px;
    margin: auto;
}

.nav-interno {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 110px;
    line-height: 110px;
    background-color: #FFF;
}

.nav-interno ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-interno ul li {
    display: inline;
}

.nav-interno ul li a {
    color: rgb(88, 88, 88);
    font-size: 16px;
    font-weight: 100;
    margin: 0 50px;
}

.nav-interno ul li a:hover {
    color: rgb(160, 128, 190);
    transition: 200ms;
}

.nav-interno ul li a:nth-child(6) {
    border: 2px solid rgb(160, 128, 190);
    color: rgb(160, 128, 190);
    padding: 15px 20px;
}

.nav-interno ul li a:nth-child(6):hover {
    background-color: rgb(241, 236, 236);
    color: rgb(88, 88, 88);
}

/* Seção Principal */
.section {
    width: 100%;
    height: 800px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
    color: white;
}

.section h1 {
    font-size: 60px;
    font-family: 'Garamond', cursive;
    font-weight: 100;
    word-break: break-word;
}

.section h2 {
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: 100;
}

.section h3 {
    font-size: 16px;
    margin-bottom: 83px;
    font-family: monospace;
}

.section .button {
    width: 170px;
    height: 45px;
    background-color: #7B6392;
    color: white;
    padding: 15px 30px; 
}

.button:hover {
    background-color: rgb(97, 76, 117);
}

/* Rodapé */
footer {
    background-color: #2E2E2E;
    width: 100%;
    height: 60px;
    color: white;
    line-height: 60px;
}

.footer-interno {
    max-width: 972px;
    width: 100%;
    margin: auto;
    height: 60px;
}

.direitos-autorais {
    float: left;
    font-size: 14px;
    font-weight: 100;
}

.menu-social {
    float: right;
    margin: 0;
    padding: 0;
}

.menu-social a {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

/* Consultas de mídia para dispositivos móveis */
@media (max-width: 768px) {
    .nav-interno ul li {
        display: block;
        margin: 10px 0;
    }

    .nav-interno ul li a {
        margin: 0;
        font-size: 14px;
    }

    .section h1 {
        font-size: 40px;
    }

    .section h2 {
        font-size: 50px;
    }

    .section h3 {
        font-size: 14px;
    }

    .section .button {
        width: 150px;
        height: 40px;
    }

    .footer-interno {
        text-align: center;
    }

    .direitos-autorais, .menu-social {
        float: none;
        margin: 10px 0;
    }
}
