<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bella e Alberto</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <nav class="nav">
            <div class="nav-interno">
                <ul>
                    <li>
                        <a href="/">Home</a>
                        <a href="/">Nossa História</a>
                        <a href="/">Casamento</a>
                        <a href="/">Festa</a>
                        <a href="/">Detalhes</a>
                    </li>
                </ul> 
            </div>
        </nav>
        <section class="section">
                <div>
                <span></span>
                <H1>Tatiane & Cristiano</H1>
                <span></span>
                </div>
                <h2>VAMOS NOS CASAR</h2>
                <h3>07 de dez de 2024 | Espaço Miralt</h3>
                <a class="button" href="/">CONFIRMAR PRESENÇA</a>
            </section>
 
    
        <script src="" async defer></script>
    </body>
</html>